/**
 * Global
 */

// Fonts
$font-primary: 'Helvetica Neue', sans-serif;
$font-secondary: 'Arial', sans-serif;

// Base
$base-font-size: 16px;
$base-line-height: 1.5;

// Heading
$heading-font-family: $font-secondary;
$heading-font-weight: 700;
$heading-line-height: 1.2;
$heading-magin: 0 0 20px;

// Default
$default-margin: 0 0 25px;
$default-wrap: 1200px;
$default-gutter: 15px;