<header class="header" role="banner">

  <div class="header__main">
  
    <div class="header__logo">
      {% include 'header-logo.html.twig' %}
    </div>
    
    <div class="header__navigation">

      <div class="header-navigation">
        <nav role="navigation" aria-label="Menu supérieur">
        {% include 'header-navigation.html.twig' %}
        </nav>
      </div>
      
    </div>

  </div>

</header>